*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.row{
    display: grid;
    
    .card{
        display: flex;
        background-color:blanchedalmond;
        height:8rem;
        width:19rem;
        border-radius: 30px;
        margin: 12px;
        flex-wrap: wrap;

        .left{
            width: 40%;
            img{
                height: 100%;
                width:100%;
            }
        }
        .right{
            display: flex;
            width: 60%;
            flex-direction: column;
            .name{
                padding:5px;
            }
            .designation{
                padding:5px;

            }
            .info{
                display:flex;
                // justify-content: center;
                align-items: center;
                padding:10px;
                div{
                    padding:2px;
                }
            }

        }
        
    }
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

